body {
    color: white;
    background-color: black;
}

.title img {
    width: 200px;
    display: inline;
}

h1 {
    font-family: 'Brush Script MT', cursive;
    font-size: 48px;
    display: inline;
    position: relative;
    bottom: 40px;
    left: 10px;
}

iframe {
    width: 300px;
    height: 80px;
    border: none;
}

aside a {
    color: #00d856;
}